body{
    background-image: url("xoxo.png");
    background-repeat: repeat;
    height: 500px;
    padding: 15px;
    background-position: center;
}
div.bg{
    background-image: linear-gradient(to bottom, #fbc2eb 0%, #a6c1ee 100%);
    height: 500px;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 100px;
    background-position: center;
}
h1{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 400%;
    color: Black;
}
h2{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 400%;
    font-weight: Bold;
    color: Black;
}
p{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 200%;
    color: Black;
}
img.align-center{
    display: block;
    margin:0px auto;
}
img.medium{
    width: 155px;
    height: 155px;
}
button{
    display: inline-block;
    font-size: 100px;
    color: black;
    padding: 50px;
}
.button {
    background-color:none; 
    list-style-type: none;
    text-align: center;
    margin: 20px;
    padding: 10px;
}
.button a {
    display: inline-block;
    font-size: 35px;
    padding: 10px;
}