body{
    background-image: url("bg.jpg");
    background-repeat: repeat;
    height: 450px;
    padding: 10px;
    background-position: center;
}
h2{
    font-size: 40px;
    font-family: 'Courier New';
    font-weight: bold;
    color: red;
}
td{
    font-size: 30px;
    font-family: 'Courier New';
    font-weight: bold;
    color: aqua;
}
button{
    display: inline-block;
    font-size: 125px;
    color: black;
    padding: 50px;
}
.button {
    background-color:pink; 
    list-style-type: none;
    text-align: center;
    margin: 20px;
    padding: 10px;
}
.button a {
    display: inline-block;
    font-size: 40px;
    padding: 10px;
}